.topRow {
    width: 602.5px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #222222;
    color: white;
    padding-right: 10px;
}