* {
    font-size: 60px;
    /* border: 2.5px solid #979797; */
}

.whole-calc {
    width: 602.5px;
    height: auto;
    display: flex;
    border: 1px solid #979797;
    margin: 0 auto;
    flex-wrap: wrap;
}